.head {
    width: 100%;
    position: relative;
    min-height: 170px;
}

.head-input {
    position: fixed;
    right: 0%;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0);
}

.head-input i {
    position: absolute;
    z-index: 3;
    line-height: 50px;
    right: 18%;
    font-size: 18px;
    color: rgb(128, 128, 128)
}

.head input {
    position: absolute;
    width: 20%;
    height: 30px;
    right: 5%;
    top: 10px;
    background: #fff;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    color: #666;
    text-indent: 40%;
    line-height: 30px;
    transition: width .2s, background .4s;
    -webkit-transition: width .2s, background .4s;
    /* Safari */
}

.banner {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.banner img {
    width: 100%;
    height: 100%;
    max-height: 170px;
}

.nav {
    width: 100%;
    height: 40px;
    overflow: hidden;
    margin-top: 15px;
}

.nav img {
    width: 100%;
}

.nav-box {
    width: 80%;
    height: 30px;
    margin: 5px auto;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
    background: rgb(233, 107, 93);
    text-indent: 10px;
    line-height: 30px;
    font-size: 12px;
}

.nav-1 {
    background: url(../images/xf-01.jpg) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

.nav-2 {
    background: url(../images/hcls-01.jpg) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

.nav-3 {
    background: url(../images/hzp-01.jpg) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

.nav-4 {
    background: url(../images/shyp-01.jpg) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

.nav-5 {
    background: url(../images/es-01.jpg) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

.nav-6 {
    background: url(../images/zhxx-01.jpg) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

.nav-7 {
    background: url(../images/qtl-01.jpg) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #555759;
}

.goods {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
    padding-bottom: 60px;
}

.goods-title {
    width: 90%;
    height: 15px;
    border-left: 2px solid rgb(233, 107, 93);
    text-indent: 15px;
    color: rgb(81, 81, 81);
    font-size: 12px;
    line-height: 15px;
    margin: 0 auto;
}

.goos-border {
    width: 100%;
    overflow: hidden;
    padding: 10px 0px;
    position: relative;
}

.goos-border::before {
    content: "";
    width: 100%;
    background: rgb(203, 203, 203);
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
    /* Safari 与 Chrome */
}

.goods-box {
    width: 90%;
    /* height: 200px; */
    overflow: hidden;
    border-radius: 5px;
    margin: 10px auto;
    /* background: rgb(233, 107, 93); */
}

.icon {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.goods-box small {
    color: rgb(81, 81, 81);
    font-size: 14px;
    line-height: 40px;
}

.introduce {
    width: 100%;
    height: 150px;
    display: block;
    margin: 5px 0;
}

.goods-box h3 {
    font-size: 14px;
    color: rgb(30, 30, 30);
    line-height: 30px;
}

.goods-box p {
    font-size: 12px;
    color: rgb(81, 81, 81);
    line-height: 16px;
}

.gods-footer {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    overflow: hidden;
    /* background: red; */
}

.gods-footer>span {
    padding: 1px 10px;
    border: 1px solid rgb(233, 107, 93);
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    color: rgb(233, 107, 93);
    margin-top: 5px;
    float: left;
    margin-right: 10px;
}

.gods-footer-right {
    float: right;
    overflow: hidden;
}

.gods-footer-right>span {
    color: rgb(154, 154, 154);
    font-size: 12px;
    display: inline-block;
    line-height: 30px;
}